:root {
  --dark: #202125;
  --dark200: #2a2b2f;
  --white: #fafafa;
  --gray: #a3a6ab;
}

body {
  display: flex;
  flex-direction: column;
  background-color: var(--dark);
  font-family: Google Sans,Roboto,Helvetica,Arial,sans-serif;
  color: var(--white);
  padding: 16px;
  font-size: 16px;
}
